@import '../../components/common.scss';

$content-height:calc(100vh - $topBarHeight - $userBarHeight - $footerHeight);

.user_bar{
    width:100%;
    height:$userBarHeight;
    background-color:#D9B2B1;
    line-height: $userBarHeight;
}

.content{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    width:100%;
    min-height: $content-height;
    background-color:white;

    .navbar{
        position: relative;
        box-sizing: border-box;
        width:25%;
        background-color:#FBEDF7; 

        // 覆盖bootstrap样式
        flex-direction: column;
        align-items: flex-start;

        // 空前缀
        .pre_null::before{
            display: inline-block;
            margin:0  0.255em;
            vertical-align: 0.255em;
            content: "";
            border: 0.3em solid transparent;

        }
        //🔻前缀
        .dropdown_toggle::before{
            display: inline-block;
            margin:0 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }

        // ▶前缀
        .dropend_toggle::before{
            display: inline-block;
            margin:0 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid transparent;
            border-right: 0;
            border-bottom: 0.3em solid transparent;
            border-left: 0.3em solid;
        }

        .dropdown_menu{
            margin-left: 0.8em;
            border: none;
            background-color:#FBEDF7; 

        }
    }
        
    .box_1{
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width:75%;
        padding: 10px;

        &> ul{
            width: 90%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            li {
                margin: 5px 0;
                background-color: snow;
            }
        }
    }
}
