
  .modelTitle{
		font-size: 20px;
		background-color: rgb(233, 207, 245);
		text-align: center;
	}
	
	.contentTitle{
		display: inline-block;
		width: 100%;
		font-size: 20px;
		font-weight:bold;
		color:gray;
		text-align:center;
		margin:25rpx;
		
	}
	
	.left-nav{
		height: $sideBarItemHeight;
		line-height: $sideBarItemHeight;
	}

	.active{
		background-color: pink;
	}
	
	.right-nav {
		background-color: snow;
		margin:8rpx;
		padding: 10rpx;
	}
	.content{
		word-break: break-all;
		overflow-x: auto;
		padding:15rpx;
	}
	
	