@import "../../components/common.scss";

$content-height:calc(100vh - $topBarHeight - $footerHeight - $bannerHeight);

.banner{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: $bannerHeight;
  background-color: hsl(213, 9%, 20%,0.6);

  .banner_pic{
    width:100%;
    height:100%;
    opacity:0.7;  /*支持CSS3浏览器*/
    -moz-opacity:0.7   /*Moz+FF*/
  }

  .tittle_bg{
    position:absolute;
    width:100%;
    height:17%;
    background-color:hsl(43, 5%, 70%,0.5);
    top:6%;

    .tittle{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;

      h1{
        position: relative;
        display: inline-block;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        color: #a16760;
        text-shadow:5px -5px 15px white,-5px 5px 15px gray;
      }
    }
  }

  
    
  .search{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom:10%;
    width:80%;
    height:20%;
    background-color:#c8d6bd;
    border-radius:80px;
  }
  .search_content{
    background-color:#d0dde5;
    border-radius:20px 0 0 20px;
    width:75%;
    height:50px;
    border:none;
    float:left;
    font-size:15px;
    box-sizing: border-box;
    padding:0 10px;
  }
  .search_button{
    border-radius:0 20px 20px 0;
    width:25%;
    height:50px;
    border:0px;
    float:left;
    font-size:20px;
    background-color:#a8b1bc;
  }
}

.content{
  box-sizing: border-box;
  position:relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height: $content-height;
  background-color:#eae6e2;
  padding: 5px;  
  
  &>ul{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
       
      width: 100%;
      @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
          background-color: nth($homeMainBgColor,$i);
        }
      }

      li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex:1 1 28%;
        font-size:20px;
        height: 300px;
        min-height: calc($content-height * 0.25);
        margin: 5px;
        font-weight: 600;
      }
  }

}


