
/*自定义公共样式变量*/
/*哪需要，哪引入*/

$topBarHeight:28px;
$footerHeight:70px;
$bannerHeight:330px;
/*首页模块背景颜色*/
$homeMainBgColor:#c6cccc,#9f9b9d,#dbc7ae,#d3907f,#b9a58a,#ac8fab,#778296,#c69c9a,#58626e,#a7a8aa;
$userBarHeight:70px;
$sideBarItemHeight:50px;
