.js{   
    ul{
        text-align: left;
        margin-left: 10px;
    }

    ul>li{
        background-color: snow;
        margin:5px;

    }
    .title{
        font-size: 20px;
        padding: 5px 0;
        background-color: rgb(233, 207, 245);
    }
}
