body{
  padding: 0;
  margin:0;
  background-color:#d0dbe2;
}
a{
  color: #2c3e50;
  list-style: none;
  text-decoration: none;
}
/* 清除默认的用户代理样式__不知道怎么出现的 */
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
